a {
  color: #282828;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 437px;
  background: url("img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative
}

.banner2 {
  width: 100%;
  height: 437px;
  background-color: #00000030;
  position: absolute;
}

h1 {
  color: #ffffff !important;
  z-index: 1;
  font-family: cursive;
  font-size: 73px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  text-align: center;
}

.card {
  width: 329px;
  height: 358px;
  background: #FBFAF8;
  box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 25px;
}

.foto,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6 {
  width: 329px;
  height: 249px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.foto {
  background-image: url(./img/bolo.jpg);
}

.foto2 {
  background-image: url(./img/cookie.jpg);
}

.foto3 {
  background-image: url(./img/bolinho.jpg);
}

.foto4 {
  background-image: url(./img/coxinha.jpg);
}

.foto5 {
  background-image: url(./img/escondidinho.jpg);
}

.foto6 {
  background-image: url(./img/farofa.jpg);
}

.tCard {
  font-weight: 600;
  font-size: 20px;
  color: #282828;
}

.fotoPagina {
  width: 100%;
  height: 75vh;
  background: url(/img/bolo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  border-radius: 25px;
  display: flex;
  justify-self: center;
}